* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  color: #293264;
  background-color: #F5F7FB;
  height: 100vh;
  background-image: url("./media/top-blob.png"), url("./media/bottom-blob.png");
  background-position: right top, left bottom;
  background-repeat: no-repeat;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 318px;
}

.title {
  font-size: 31px;
  font-weight: 700;
  margin-bottom: 7px;
}

.instructions {
  margin-bottom: 29px;
  font-size: 16px;
  font-weight: 400;
}

button:hover {
  opacity: 0.8;
}

.start-btn {
  font-size: 16px;
  font-weight: 500;
  width: 193px;
  height: 52px;
  border-radius: 15px;
}

.instructions, button {
  font-family: 'Inter', sans-serif;
}

.question {
  text-align: left;
  margin-bottom: 16px;
}

.answers {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 13px;
  margin-bottom: 15px;
}

.answer-btn {
  font-family: Inter, sans-serif;
  font-size: 10px;
  font-weight: 500;
  color: #293264;
  border: 1px solid #4D5B9E;
  border-radius: 8px;
  background: transparent;
  padding: 4px 8px;
}

.answer-selection:hover {
  background-color: #DBDEF0;
  cursor: pointer;
}

.selected-answer {
  background-color: #DBDEF0;
}

.correct-answer {
  background-color: #94D7A2;
}

.correct-answer-msg {
  color: #94D7A2;
  margin-bottom: 15px;
}

.incorrect-answer-msg {
  color: #F8BCBC;
  margin-bottom: 15px;
}

.score {
  text-align: center;
  margin-bottom: 10px;
}

.question, .correct-answer-msg, .incorrect-answer-msg, .score {
  font-size: 16px;
  font-weight: 700;
}

.question-divider {
  height: 0;
  border: 1px solid #DBDEF0;
  margin-bottom: 15px;
}

.quiz, .question-divider {
  width: 600px;
}

.check-answers-btn {
  margin-top: 5px;
  align-self: center;
  font-size: 10px;
  font-weight: 600;
  height: 35px;
  width: 120px;
  border-radius: 10px;
}

.start-btn, .check-answers-btn {
  color: #F5F7FB;
  background-color: #4D5B9E;
  border-style: none;
  cursor: pointer;
}