* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  background-color: #F5F7FB;
}

.new-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}