* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  color: #293264;
  background-color: #F5F7FB;
  height: 100vh;
  background-image: url("./media/top-blob.png"), url("./media/bottom-blob.png");
  background-position: right top, left bottom;
  background-repeat: no-repeat;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 318px;
}

.title {
  font-size: 31px;
  font-weight: 700;
  margin-bottom: 7px;
}

.instructions {
  margin-bottom: 29px;
  font-size: 16px;
  font-weight: 400;
}

button:hover {
  opacity: 0.8;
}

.start-btn {
  font-size: 16px;
  font-weight: 500;
  width: 193px;
  height: 52px;
  border-radius: 15px;
}

.instructions, button {
  font-family: 'Inter', sans-serif;
}

.question {
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 16px;
}

.answers {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 13px;
  margin-bottom: 15px;
}

.radio-btn {
  position: relative;
  text-align: center;
}

.radio-btn label {
  font-size: 11px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  display: block;
  border: 1px solid #4D5B9E;
  border-radius: 8px;
  padding: 4px 12px;
  pointer-events: none;
}

input[type="radio"] {
  position: absolute;
  cursor: pointer;
  height: 100%;
  margin-top: -1px;
  vertical-align: middle;
  transform: scale(3);
  opacity: 0;
}

input[type="radio"]:hover + label{
  background: #D6D8F5;
}

.default-answer-style:checked + label {
  background: #D6D8F5;
}

.asd {
  background: black;
}

.correct-answer-style {
  background: #94D7A2;
}

.correct-answer-style:checked + label {
  background: #94D7A2;
}

.incorrect-answer-style:checked + label {
  background: #F8BCBC;
}

.question-divider {
  height: 0;
  border: 1px solid #DBDEF0;
  margin-bottom: 15px;
}

.quiz, .question-divider {
  width: 600px;
}

.check-answers-btn {
  margin-top: 5px;
  align-self: center;
  font-size: 10px;
  font-weight: 600;
  height: 35px;
  width: 120px;
  border-radius: 10px;
}

.start-btn, .check-answers-btn {
  color: #F5F7FB;
  background-color: #4D5B9E;
  border-style: none;
  cursor: pointer;
}