* {
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  background-color: #282D35;
}

nav {
  display: flex;
  align-items: center;
  background-color: #21222A;
  height: 90px;
  padding: 30px 25px;
}

body, .main__title, .nav__logo-text, .nav__title {
  margin: 0;
}

.nav__logo-text {
  margin-right: auto;
  font-weight: 700;
  font-size: 22px;
}

.nav__title {
  color: #DEEBF8;
  font-weight: 600;
}

.nav__icon {
  height: 30px;
  margin-right: 7px;
}

main {
  padding: 57px 27px;
  color: white;
  background-image: url("./images/react-icon-large.png");
  background-repeat: no-repeat;
  background-position: right 75%;
}

.main__title {
  font-size: 39px;
  letter-spacing: -0.05em;
}

.main__facts {
  margin-top: 46px;
  max-width: 400px;
}

.main__facts > li {
  line-height: 19px;
  padding-block: 10px;
}

.main__facts > li::marker {
  font-size: 1.4rem;
}

.main__facts > li::marker, .nav__logo-text {
  color: #61DAFB;
}